html {
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background-color: #fff;
  position: fixed;
  z-index: 8;
  width: 100%;
}
header .container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
header .header__wrap {
  padding: 0px 0 20px 0;
}
header .header__top .header__logo {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #333;
  width: 53%;
  text-align: right;
}
header .header__top .header__logo .header__logo-line {
  border-left: 2.7px solid #333;
  margin: 0 2px;
  height: 19px;
}
header .header__top .navbar {
  cursor: pointer;
  color: #bfbfbf;
  font-size: 2rem;
}
header .header__top .navbar .navbar-icon:hover {
  transition: 0.5s;
  color: red;
}
header .header__bottom ul {
  display: flex;
  justify-content: center;
}
header .header__bottom ul li {
  position: relative;
}
header .header__bottom ul li:hover {
  color: red;
}
header .header__bottom ul li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: red;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
}
header .header__bottom ul li:hover::before {
  width: 100%;
}
header .header__bottom .header__botton-item {
  font-size: 1.4rem;
}
header .addToCart {
  position: relative;
}
header .addToCart .addToCart-item {
  position: absolute;
  top: -8px;
  right: -22px;
  width: 100%;
  height: 18px;
  border-radius: 53%;
  background-color: #bfbfbf;
  color: white;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
}

#banner {
  padding: 10rem 0;
}
#banner .swiper-wrapper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#products .products__heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}
#products .products__grid-items .products__items-img {
  max-width: 100%;
  max-height: 100%;
}
#products .products__grid-items .products__items-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}
#products .products__grid-items .products__items-price {
  color: #7c7c7c;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

footer {
  margin-top: 3rem;
  padding-top: 2rem;
  text-align: center;
  background-color: #262626;
}
footer .footer__logo {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}
footer .footer__logo .footer__logo-line {
  border-left: 2.7px solid #333;
  margin: 0 2px;
  height: 19px;
  border-color: #fff;
}
footer .footer__input .footer__input-form {
  position: relative;
}
footer .footer__input .footer__input-form input {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  width: 20%;
  background-color: transparent;
  color: #fff;
  font-size: 1.4rem;
}
footer .footer__input .footer__input-icon {
  position: absolute;
  top: 0px;
  right: 40.5%;
  font-size: 1.6rem;
  color: #fff;
}
footer .footer__content .footer__content-items--heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
footer .footer__content .footer__content-items {
  color: #7c7c7c;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.5s;
}
footer .footer__content .footer__content-items:hover {
  text-decoration: underline;
  color: #fff;
}
footer .footer__copyright {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.cart__content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: #010101;
}

.cart {
  display: none;
}

.showCart {
  display: block;
}

.modal-payment {
  display: none;
}
.modal-payment .modal-main {
  position: fixed;
  top: 10%;
  left: 40%;
  bottom: 0;
  z-index: 51;
}
.modal-payment .modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */