$color-grey-1: #bfbfbf;
$fontfamily-logo: "Poppins", sans-serif;
$text-color: #333;
$color-white: #fff;
$color-hover: red;
$color-price: #7c7c7c;
@mixin border-left {
  border-left: 2.7px solid $text-color;
  margin: 0 2px;
  height: 19px;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
header {
  box-shadow: 0 2px 4px #e2ebfc;
  background-color: $color-white;
  position: fixed;
  z-index: 8;
  width: 100%;
  .container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  .header__wrap {
    padding: 0px 0 20px 0;
  }
  .header__top {
    .header__logo {
      font-size: 2.5rem;
      font-family: $fontfamily-logo;
      color: $text-color;
      width: 53%;
      text-align: right;
      .header__logo-line {
        @include border-left();
      }
    }
    .navbar {
      cursor: pointer;
      color: $color-grey-1;
      font-size: 2rem;
      .navbar-icon:hover {
        transition: 0.5s;
        color: $color-hover;
      }
    }
  }
  .header__bottom {
    ul {
      display: flex;
      justify-content: center;
      li {
        position: relative;
        &:hover {
          color: $color-hover;
        }
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          background-color: red;
          bottom: 0;
          right: 0;
          transition: all 0.5s;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
    .header__botton-item {
      font-size: 1.4rem;
    }
  }
  .addToCart {
    position: relative;
    .addToCart-item {
      position: absolute;
      top: -8px;
      right: -22px;
      width: 100%;
      height: 18px;
      border-radius: 53%;
      background-color: $color-grey-1;
      color: white;
      font-size: 1.2rem;
      line-height: 1.7rem;
      text-align: center;
    }
  }
}

#banner {
  padding: 10rem 0;
  .swiper-wrapper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#products {
  .products__heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }
  .products__grid-items {
    .products__items-img {
      max-width: 100%;
      max-height: 100%;
    }
    .products__items-title {
      text-align: center;
      font-weight: 500;
      font-size: 1.4rem;
    }
    .products__items-price {
      color: $color-price;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
footer {
  margin-top: 3rem;
  padding-top: 2rem;
  text-align: center;
  background-color: #262626;
  .footer__logo {
    text-align: center;
    font-size: 2.5rem;
    color: $color-white;
    .footer__logo-line {
      @include border-left();
      border-color: $color-white;
    }
  }
  .footer__input {
    .footer__input-form {
      position: relative;
    }
    .footer__input-form input {
      border: none;
      border-bottom: 2px solid $color-white;
      outline: none;
      width: 20%;
      background-color: transparent;
      color: $color-white;
      font-size: 1.4rem;
    }
    .footer__input-icon {
      position: absolute;
      top: 0px;
      right: 40.5%;
      font-size: 1.6rem;
      color: $color-white;
    }
  }
  .footer__content {
    .footer__content-items--heading {
      color: $color-white;
      font-size: 2rem;
      font-weight: 700;
    }
    .footer__content-items {
      color: $color-price;
      font-size: 1.8rem;
      font-weight: 500;
      transition: 0.5s;
      &:hover {
        text-decoration: underline;
        color: $color-white;
      }
    }
  }
  .footer__copyright {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $color-white;
  }
}
.cart__content{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: #010101;
}
.cart{
  display: none;

}
.showCart{
  display: block;
}
.modal-payment{
  display: none;
  .modal-main{
    position: fixed;
    top: 10%;
    left: 40%;
    bottom: 0;
    z-index: 51;
  }
  .modal-overlay {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
  }
  
}
